@media (min-width: 576px) {
  /* Hero Section */
  .h_container {
    width: 100%;
    padding-bottom: 70px;
  }

  /* Service Section */
  .s_container {
    width: 100%;
  }

  /* Development Section */
  .development__c {
    width: 100%;
  }
  .d__img img {
    width: 100%;
  }

  /* Comapny Section */
  .c_companyCol {
    width: 100%;
    flex-wrap: wrap;
    gap: 55px;
  }
  hr {
    width: 560.2px;
  }
  .c_imgDiv {
    width: 535px;
  }
  .c_img {
    width: 100%;
  }

  /* Projects Section */
  .p_container {
    width: 100%;
    padding-bottom: 100px;
  }

  /* Team Section */
  .t__container {
    width: 100%;
  }

  /* Footer Section */
  .footer__c {
    width: 100%;
  }
  .footer__c__2 {
    gap: 70px;
  }
}

@media (min-width: 768px) {
  /* Hero Section */
  .h_container {
    padding-bottom: 70px;
  }
  .s_row {
    grid-template-columns: 1fr 1fr;
  }

  /* Comapny Section */
  .c_imgDiv {
    width: 720px;
  }
  hr {
    width: 743.2px;
  }

  /* Projects Section */
  .p_infoCol {
    flex-direction: row;
  }
  .p_img {
    width: 100%;
  }
}

@media (min-width: 992px) {
  /* Nav Section */
  .n_list {
    justify-content: space-between;
  }
  .n_list > i {
    display: none;
  }
  .n_links {
    position: relative;
    background: none;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .n_links > i {
    display: none;
  }
  .n_links a {
    color: #171818;
  }

  /* Hero Section */
  .h_container {
    padding-bottom: 0;
  }
  .h_text {
    margin: 120px 0 0 0;
  }
  .h_image {
    display: block;
  }

  /* Development Section */
  .development__c {
    background: #171818;
    margin: 30px 0 30px 0;
  }

  .d_developCol {
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 66px;
  }

  .d__img {
    display: flex;
    gap: 6px;
    margin: 40px 0px 40px 0px;
  }
  .d__img img {
    width: 100%;
  }

  .develop__info {
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .info__h2 {
    color: #fff;
    font-family: medium;
    margin: auto;
    font-size: 30px;
    font-family: light;
  }
  .btn__2 {
    padding: 15px 20px;
    background-color: red;
    color: #fff;
    font-family: light;
    font-size: 17px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.7s;
  }

  .btn__2:hover {
    background: rgb(140, 141, 139);
    color: #fff;
  }

  .s_row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Company Section */
  .c_companyCol {
    display: flex;
    flex-wrap: nowrap;
    margin: 80px auto 80px auto;
  }
  .c_text {
    width: 480px;
    padding: 0;
  }
  hr {
    width: 590.2px;
  }
  .c_imgDiv {
    width: 480px;
  }
  .c_img {
    width: 100%;
  }
  .para {
    line-height: 35px;
  }
  .span {
    line-height: 35px;
  }

  /* Projects Section */
  .p_container {
    padding-bottom: 90px;
  }
  .s_num {
    font-family: medium;
    font-size: 65px;
  }
  .p_imgCol {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
  }
  .p_img {
    width: 31.5%;
  }

  /* Team Section */
  .t_teamCol {
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .t_pro1 {
    width: 100%;
    height: 405.406px;
    grid-column: span 2;
  }
  .t_h2-2 {
    font-size: 100px;
  }
  .t_btnBottom button {
    padding: 12px 10px;
    bottom: -80px;
  }
}

@media (min-width: 1200px) {
  /* Company Section */
  .s_row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Development Section */
  .d_developCol {
    gap: 157px;
  }

  /* Company Section */
  .c_text {
    width: 535px;
    padding: 0;
  }
  .c_imgDiv {
    width: 720px;
  }
  hr {
    width: 775px;
  }

  /* Projects Section */
  .p_imgCol {
    display: flex;
    justify-content: space-between;
  }
  .p_img {
    width: 32%;
  }

  /* Team Section */
  .t_teamCol {
    gap: 30px;
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1400px) {
  /* Development Section */
  .development__c {
    width: auto;
    background: #171818;
    margin: 30px 0 30px 0;
  }
  .d_developCol {
    display: flex;
    margin: auto;
    gap: 247px;
  }
  .d__img {
    gap: 130px;
  }

  /* Company Section */
  .c_text {
    width: 660px;
    padding: 0;
  }

  .c_imgDiv {
    width: 720px;
  }

  /* Projects Section */
  .p_imgCol {
    display: flex;
  }
  .p_img {
    width: 32.1%;
  }
}

@media (min-width: 1550px) {
  /* Projects Section */
  .p_imgCol {
    gap: 0px;
    justify-content: space-between;
  }
}
